$btn-primary-bg: #10b981;
$btn-primary-text: #ffffff;
$btn-secondary-bg: #d1fae5;
$btn-secondary-text: #047857;
$btn-arrow-primary-bg: #10b981;
$btn-arrow-primary-text: #ffffff;
$btn-arrow-secondary-bg: #e0e3eb;
$btn-arrow-secondary-text: #3c4563;
$btn-filter-primary-bg: #d1fae5;
$btn-filter-primary-text: #10b981;
$btn-filter-secondary-border: #e0e3eb;
$btn-filter-secondary-bg: transparent;
$btn-filter-secondary-text: #888b97;
$card-title: #1b1c57;
$card-text: #626687;
$details-icon-fill: #888b97;
$details-text-color: #3c4563;
$hero-gradient-1: #82f7ff;
$hero-gradient-2: #82ffd2;
$hero-slider-bg: #ffffff;
$hero-slider-accent: #1b1c57;
$hero-slider-text: #68799f;
$hero-slider-avatar-border: #ffffff;
$hero-title: #1b1c57;
$input-border-color: #e0e3eb;
$input-placeholder: #888b97;
$input-icon-fill: #f59e0b;
$line: #f0f3fd;
$logo-text: #1b1c57;
$pagination-bg: #e0e3eb;
$pagination-bg-active: #3c4563;
$person-name: #0e1735;
$person-info: #888b97;
$play-icon-fill: #ffffff;
$recommendation-title: #0e1735;
$recommendation-price: #3c4563;
$review-bg: #ffffff;
$sell-gradient: #ff9882;
$star-fill: #f59e0b;
$text-primary-color: #626687;
$text-secondary-color: #888b97;
$text-thirdly-color: #3c4563;
$title-color: #f59e0b;
$type-best-bg: #d1fae5;
$type-best-text: #047857;
$type-new-gb: #dbeafe;
$type-new-text: #1d4ed8;
$type-popular-bg: #fee2e2;
$type-popular-text: #ef4444;
$subtitle-color: #1b1c57;
$nav-item-bg: rgba(255, 255, 255, 0.1);
$nav-item-border: rgba(255, 255, 255, 0.3);
$nav-item-text: #f0f3fd;
