<section class="articles section">
  <div class="container">
    <h2 class="title">See tips and trick from our partnership</h2>
    <p class="subtitle">Find out more about selling and buying homes</p>
    <button href="/" class="btn-primary">More articles</button>
    <div class="articles__all">
      <ul class="articles__column-left">
        <li class="articles__column-left-item">
          <a href="/" class="articles__link">
            <article class="articles__article">
              <div class="articles__column-left-img-container">
                <img
                  src="./images/articles-dianne-russell-desk-1x.jpg"
                  alt="House interior"
                  width="200"
                  height="144"
                  class="articles__column-left-img"
                />
              </div>
              <div class="articles__column-left-description">
                <div class="articles__person">
                  <div class="articles__person-img-container">
                    <img
                      src="./images/dianne-russell-desk-1x.png"
                      alt="Dianne Russell"
                      width="32"
                      height="32"
                      class="articles__person-img"
                    />
                  </div>
                  <p class="articles__person-name">Dianne Russell</p>
                </div>
                <h1 class="articles__column-left-title">
                  The things we need to check when we want to buy a house
                </h1>
                <div class="articles__timing">
                  <svg width="24" height="24" class="articles__timing-icon">
                    <use href="./images/icons.svg#icon-clock"></use>
                  </svg>
                  <p class="articles__timing-text">
                    4 min read | <time datetime="2021-04-25">25 Apr 2021</time>
                  </p>
                </div>
              </div>
            </article>
          </a>
        </li>
        <li class="articles__column-left-item">
          <a href="/" class="articles__link">
            <article class="articles__article">
              <div class="articles__column-left-img-container">
                <img
                  src="./images/articles-courtney-henry-desk-1x.jpg"
                  alt="House"
                  width="200"
                  height="144"
                  class="articles__column-left-img"
                />
              </div>
              <div class="articles__column-left-description">
                <div class="articles__person">
                  <div class="articles__person-img-container">
                    <img
                      src="./images/courtney-henry-desk-1x.png"
                      alt="Courtney Henry"
                      width="32"
                      height="32"
                      class="articles__person-img"
                    />
                  </div>
                  <p class="articles__person-name">Courtney Henry</p>
                </div>
                <h1 class="articles__column-left-title">
                  7 Ways to distinguish the quality of the house we want to buy
                </h1>
                <div class="articles__timing">
                  <svg width="24" height="24" class="articles__timing-icon">
                    <use href="./images/icons.svg#icon-clock"></use>
                  </svg>
                  <p class="articles__timing-text">
                    6 min read | <time datetime="2021-04-24">24 Apr 2021</time>
                  </p>
                </div>
              </div>
            </article>
          </a>
        </li>
        <li class="articles__column-left-item">
          <a href="/" class="articles__link">
            <article class="articles__article">
              <div class="articles__column-left-img-container">
                <img
                  src="./images/articles-darlene-robertson-desk-1x.jpg"
                  alt="House interior"
                  width="200"
                  height="144"
                  class="articles__column-left-img"
                />
              </div>
              <div class="articles__column-left-description">
                <div class="articles__person">
                  <div class="articles__person-img-container">
                    <img
                      src="./images/darlene-robertson-desk-1x.png"
                      alt="Darlene Robertson"
                      width="32"
                      height="32"
                      class="articles__person-img"
                    />
                  </div>
                  <p class="articles__person-name">Darlene Robertson</p>
                </div>
                <h1 class="articles__column-left-title">
                  The best way to know the quality of the house we want to buy
                </h1>
                <div class="articles__timing">
                  <svg width="24" height="24" class="articles__timing-icon">
                    <use href="./images/icons.svg#icon-clock"></use>
                  </svg>
                  <p class="articles__timing-text">
                    2 min read | <time datetime="2021-04-24">24 Apr 2021</time>
                  </p>
                </div>
              </div>
            </article>
          </a>
        </li>
      </ul>
      <ul class="articles__column-right">
        <li class="articles__column-right-item">
          <a href="/" class="articles__link">
            <article class="articles__article">
              <div class="articles__column-right-img-container">
                <img
                  src="./images/articles-cameron-williamson-desk-1x.jpg"
                  alt="House"
                  width="560"
                  height="280"
                  class="articles__column-right-img"
                />
              </div>
              <div class="articles__column-right-description">
                <div class="articles__person">
                  <div class="articles__person-img-container">
                    <img
                      src="./images/cameron-williamson-desk-1x.png"
                      alt="Cameron Williamson"
                      width="32"
                      height="32"
                      class="articles__person-img"
                    />
                  </div>
                  <p class="articles__person-name">Cameron Williamson</p>
                </div>
                <h1 class="articles__column-right-title">
                  12 Things to know before buying a house
                </h1>
                <p class="articles__column-right-text">
                  Want to buy a house but are unsure about what we should know,
                  here I will try to explain what we should know and check when
                  we want to buy a house
                </p>
                <div class="articles__timing">
                  <svg width="24" height="24" class="articles__timing-icon">
                    <use href="./images/icons.svg#icon-clock"></use>
                  </svg>
                  <p class="articles__timing-text">
                    8 min read | <time datetime="2021-04-25">25 Apr 2021</time>
                  </p>
                </div>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
