<div class="container">
  <nav class="nav-menu">
    <a href="/" class="logo">
      <svg width="36" height="36" class="logo__icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <p class="logo__text">Hounter</p>
    </a>
    <ul class="nav-menu__list">
      <li class="nav-menu__list-item">About Us</li>
      <li class="nav-menu__list-item">Article</li>
      <li class="nav-menu__list-item">
        <ul class="nav-menu__dropdown">
          <li class="nav-menu__dropdown-item--visible">
            Property
            <svg width="18" height="18" class="nav-menu__dropdown-arrow">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </li>
          <li class="nav-menu__dropdown-item">House</li>
          <li class="nav-menu__dropdown-item">Villa</li>
          <li class="nav-menu__dropdown-item">Apartment</li>
        </ul>
      </li>
    </ul>
  </nav>
  <button type="button" class="btn-secondary">Sign Up!</button>
</div>
