<section class="hero section">
  <div class="container">
    <h1 class="hero__title">
      Find the place to live <span class="hero__title-accent">your dreams</span>
      easily here
    </h1>
    <p class="hero__description">
      Everything you need about finding your place to live will be here, where
      it will be easier for you
    </p>
    <form class="hero__form">
      <svg width="24" height="24" class="hero__form-icon">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <input
        type="text"
        class="hero__form-input"
        placeholder="Search for the location you want!"
      />
      <button type="submit" class="btn-primary">
        Search
        <svg width="24" height="24" class="hero__btn-arrow">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </form>
    <p class="hero__partnership-title">Our Partnership</p>
    <ul class="hero__partnership-list">
      <li class="hero__partnership-list-item">
        <img
          src="./images/traveloka-logo.png"
          alt="Traveloka logo"
          width="83"
          height="64"
          class="hero__partnership-list-img"
        />
      </li>
      <li class="hero__partnership-list-item">
        <img
          src="./images/ticketcom-logo-desk-1x.png"
          alt="Ticketcom logo"
          width="83"
          height="64"
          class="hero__partnership-list-img"
        />
      </li>
      <li class="hero__partnership-list-item">
        <img
          src="./images/airbnb-logo-desk-1x.png"
          alt="Airbnb logo"
          width="83"
          height="64"
          class="hero__partnership-list-img"
        />
      </li>
      <li class="hero__partnership-list-item">
        <img
          src="./images/tripadvisor-logo-desk-1x.png"
          alt="Tripadvisor logo"
          width="83"
          height="64"
          class="hero__partnership-list-img"
        />
      </li>
    </ul>
  </div>
  <div class="hero__img-container">
    <img src="./images/bg-house-desk-1x.jpg" alt="House" class="bg-img" />
    <ul class="hero__slider-list">
      <li class="hero__slider-item">
        <ul class="hero__slider-avatars-list">
          <li class="hero__slider-avatars-item">
            <img
              src="./images/hero-esther-howard-desk-1x.png"
              alt="Avatar"
              width="56"
              height="56"
              class="hero__slider-avatars-img"
            />
          </li>
          <li class="hero__slider-avatars-item">
            <img
              src="./images/hero-man-desk-1x.png"
              alt="Avatar"
              width="56"
              height="56"
              class="hero__slider-avatars-img"
            />
          </li>
          <li class="hero__slider-avatars-item">
            <img
              src="./images/hero-dianne-russel-desk-1x.png"
              alt="Avatar"
              width="56"
              height="56"
              class="hero__slider-avatars-img"
            />
          </li>
        </ul>
        <div class="hero__slider-description">
          <p class="hero__slider-accent">1K+ People</p>
          <p class="hero__slider-text">
            Successfully Getting <br />
            Home
          </p>
        </div>
      </li>
      <li class="hero__slider-item">
        <div class="hero__slider-img-container">
          <img
            src="./images/hero-house-desk-1x.png"
            alt="House"
            class="hero__slider-img"
          />
        </div>
        <div class="hero__slider-description">
          <p class="hero__slider-accent">56 Houses</p>
          <p class="hero__slider-text">Sold Monthly</p>
        </div>
      </li>
      <li class="hero__slider-item">
        <div class="hero__slider-img-container">
          <img
            src="./images/hero-woman-desk-1x.png"
            alt="Woman"
            class="hero__slider-img"
          />
        </div>
        <div class="hero__slider-description">
          <p class="hero__slider-accent">4K+</p>
          <p class="hero__slider-text">People Looking for New Homes</p>
        </div>
      </li>
      <li class="hero__slider-item">
        <div class="hero__slider-img-container">
          <img
            src="./images/hero-house-desk-1x.png"
            alt="House"
            class="hero__slider-img"
          />
        </div>
        <div class="hero__slider-description">
          <p class="hero__slider-accent">56 Houses</p>
          <p class="hero__slider-text">Sold Monthly</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="hero__gradient-1"></div>
  <div class="hero__gradient-2"></div>
</section>
