<section class="review section">
  <div class="container">
    <h2 class="title">See Our Review</h2>
    <p class="subtitle">What Our User Say About Us</p>
    <ul class="rewiew__list">
      <li class="review__item">
        <div class="review__img-container">
          <img
            src="./images/review-dianne-russell-desk-1x.jpg"
            alt="Dianne Russel's house"
            width="740"
            height="400"
            class="review__img"
          />
          <div class="review__card">
            <h3 class="review__title">
              Best! I got the house I wanted through Hounter
            </h3>
            <p class="review__text">
              Through this website I can get a house with the type and
              specifications I want very easily, without a complicated process
              to be able to find information on the house we want.
            </p>
            <div class="review__author">
              <div class="review__person">
                <div class="review__person-img-container">
                  <img
                    src="./images/dianne-russell-desk-1x.png"
                    alt="Dianne Russell"
                    width="40"
                    height="40"
                    class="review__person-img"
                  />
                </div>
                <div class="review__person-info">
                  <p class="review__person-name">Dianne Russell</p>
                  <p class="review__person-position">Manager Director</p>
                </div>
              </div>
              <div class="review__star-container">
                <svg width="28" height="28" class="review__star">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <p class="review__rate">4.6</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="review__item">
        <div class="review__img-container">
          <img
            src="./images/review-esther-howard-desk-1x.jpg"
            alt="Esther Howard's house"
            width="740"
            height="400"
            class="review__img"
          />
          <div class="review__card">
            <h3 class="review__title">
              Through the Hounter, I can get a house for my self
            </h3>
            <p class="review__text">
              By looking for information about what kind of house we want, we
              managed to get the house we wanted very quickly, and directly
              connected with the seller to be able to ask about the details,
              very helpful!
            </p>
            <div class="review__author">
              <div class="review__person">
                <div class="review__person-img-container">
                  <img
                    src="./images/esther-howard-desk-1x.png"
                    alt="Esther Howard"
                    width="40"
                    height="40"
                    class="review__person-img"
                  />
                </div>
                <div class="review__person-info">
                  <p class="review__person-name">Esther Howard</p>
                  <p class="review__person-position">Head of Marketing</p>
                </div>
              </div>
              <div class="review__star-container">
                <svg width="28" height="28" class="review__star">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <p class="review__rate">4.6</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="review__item">
        <div class="review__img-container">
          <img
            src="./images/review-courtney-henry-desk-1x.jpg"
            alt="Courtney Henry's house"
            width="740"
            height="400"
            class="review__img"
          />
          <div class="review__card">
            <h3 class="review__title">My house sold out fast!</h3>
            <p class="review__text">
              I was finally able to sell my house quickly through Hounter by
              immediately setting me up with people who wanted my house. I also
              do not get a discount from the sale of my house. Awesome!
            </p>
            <div class="review__author">
              <div class="review__person">
                <div class="review__person-img-container">
                  <img
                    src="./images/courtney-henry-desk-1x.png"
                    alt="Courtney Henry"
                    width="40"
                    height="40"
                    class="review__person-img"
                  />
                </div>
                <div class="review__person-info">
                  <p class="review__person-name">Courtney Henry</p>
                  <p class="review__person-position">CEO Andarafish</p>
                </div>
              </div>
              <div class="review__star-container">
                <svg width="28" height="28" class="review__star">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <p class="review__rate">4.6</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
