<section class="sell section">
  <div class="container">
    <div class="sell__description">
      <h2 class="title">Ready to Sell!</h2>
      <p class="subtitle">Let’s tour and see our house!</p>
      <p class="sell__text">
        Houses recommended by our partners that have been curated to become the
        home of your dreams!
      </p>
      <p class="sell__details-title">House Detail</p>
      <ul class="sell__details-list">
        <li class="sell__details-item">
          <svg width="32" height="32" class="sell__details-icon">
            <use href="./images/icons.svg#icon-bed"></use>
          </svg>
          <p class="sell__details-item-text">4 Bedrooms</p>
        </li>
        <li class="sell__details-item">
          <svg width="32" height="32" class="sell__details-icon">
            <use href="./images/icons.svg#icon-bath"></use>
          </svg>
          <p class="sell__details-item-text">2 Bathrooms</p>
        </li>
        <li class="sell__details-item">
          <svg width="32" height="32" class="sell__details-icon">
            <use href="./images/icons.svg#icon-car-garage"></use>
          </svg>
          <p class="sell__details-item-text">1 Carport</p>
        </li>
        <li class="sell__details-item">
          <svg width="32" height="32" class="sell__details-icon">
            <use href="./images/icons.svg#icon-stairs"></use>
          </svg>
          <p class="sell__details-item-text">2 Floors</p>
        </li>
      </ul>
      <div class="sell__contact">
        <div class="sell__person">
          <div class="sell__person-img-container">
            <img
              src="./images/dianne-russell-desk-1x.png"
              alt="Dianne Russell"
              width="56"
              height="56"
              class="sell__person-img"
            />
          </div>
          <div class="sell__person-info">
            <p class="sell__person-name">Dianne Russell</p>
            <p class="sell__person-position">Manager Director</p>
          </div>
        </div>
        <button type="button" class="btn-primary">
          <svg width="24" height="24" class="sell__btn-icon">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          Contact Now
        </button>
      </div>
    </div>
    <ul class="sell__slider-list">
      <li class="sell__first-slide-item">
        <div class="sell__first-slide-container">
          <img
            src="./images/sell-house-desk-1x.jpg"
            alt="House"
            width="488"
            height="416"
            class="sell__slider-img"
          />
          <div class="sell__first-slide-icon-container">
            <svg width="15" height="21" class="sell__first-slide-icon">
              <use href="./images/icons.svg#icon-play"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="sell__second-slide-item">
        <div class="sell__second-slide-container">
          <img
            src="./images/sell-sofa-desk-1x.jpg"
            alt="Sofa"
            width="266"
            height="168"
            class="sell__slider-img"
          />
        </div>
      </li>
      <li class="sell__third-slide-item">
        <div class="sell__third-slide-container">
          <img
            src="./images/sell-table-desk-2x.jpg"
            alt="Table"
            width="96"
            height="80"
            class="sell__slider-img"
          />
        </div>
      </li>
      <li class="sell__fourth-slide-item">
        <div class="sell__fourth-slide-container">
          <img
            src="./images/sell-armchair-desk-1x.jpg"
            alt="Armchair"
            width="96"
            height="80"
            class="sell__slider-img"
          />
        </div>
      </li>
    </ul>
  </div>
  <div class="sell__gradient"></div>
</section>
