%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: center;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-radius: 32px;
  fill: currentColor;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
}

.btn-primary {
  @extend %btn;
  color: $btn-primary-text;
  border-color: $btn-primary-bg;
  background-color: $btn-primary-bg;
}

.btn-secondary {
  @extend %btn;
  color: $btn-secondary-text;
  border-color: $btn-secondary-bg;
  background-color: $btn-secondary-bg;
}

.btn-arrow-primary {
  @extend %btn;
  color: $btn-arrow-primary-text;
  border-color: $btn-arrow-primary-bg;
  background-color: $btn-arrow-primary-bg;
}

.btn-arrow-secondary {
  @extend %btn;
  color: $btn-arrow-secondary-text;
  border-color: $btn-arrow-secondary-bg;
  background-color: $btn-arrow-secondary-bg;
}

.btn-filter-primary {
  @extend %btn;
  padding-left: 24px;
  padding-right: 24px;
  color: $btn-filter-primary-text;
  border-color: $btn-filter-primary-bg;
  background-color: $btn-filter-primary-bg;
}

.btn-filter-secondary {
  @extend %btn;
  padding-left: 24px;
  padding-right: 24px;
  color: $btn-filter-secondary-text;
  border-color: $btn-filter-secondary-border;
  background-color: $btn-filter-secondary-bg;
}
