.header {
  width: 100%;
}

.header > .container {
  position: relative;
  display: flex;
  padding-top: 46px;
  padding-bottom: 46px;
  z-index: 1;

  & .btn-secondary {
    margin-left: 54px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.nav-menu {
  display: flex;
  width: 100%;
}

.nav-menu__list {
  position: relative;
  display: flex;
  gap: 24px;
  margin-left: auto;
  min-width: 344px;
}

.nav-menu__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 16px;
  border: 1px solid $nav-item-border;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: $nav-item-text;
  background-color: $nav-item-bg;

  &:has(.nav-menu__dropdown) {
    position: absolute;
    top: 6px;
    right: 0;
  }
}

.nav-menu__dropdown {
  display: inline-block;

  &:hover .nav-menu__dropdown-item {
    display: block;
  }
}

.nav-menu__dropdown-item {
  display: none;
}

.nav-menu__dropdown-item--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu__dropdown-arrow {
  margin-left: 10px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}
