.recommendation__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recommendation__filter-list {
  display: flex;
  gap: 32px;
}

.recommendation__filter-icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.recommendation__controls {
  display: flex;
  gap: 16px;
}

.recommendation__slider-list {
  margin-top: 40px;
  width: 100%;
}

.recommendation__slider-item {
  width: 340px;
  margin-left: 40px;
}

.recommendation__slider-img-container {
  position: relative;
  width: 340px;
  height: 382px;
  border-radius: 24px;
}

.recommendation__slider-img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.recommendation__slider-type {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 32px;
}

.recommendation__slider-type--popular {
  @extend .recommendation__slider-type;
  color: $type-popular-text;
  background-color: $type-popular-bg;
}

.recommendation__slider-type--new {
  @extend .recommendation__slider-type;
  color: $type-new-text;
  background-color: $type-new-gb;
}

.recommendation__slider-type--best {
  @extend .recommendation__slider-type;
  color: $type-best-text;
  background-color: $type-best-bg;
}

.recommendation__slider-type-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.recommendation__slider-title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  color: $recommendation-title;
}

.recommendation__slider-price {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: $recommendation-price;
}

.recommendation__slider-person {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.recommendation__slider-person-img-container {
  width: 40px;
  height: 40px;
}

.recommendation__slider-person-img {
  width: 100%;
  height: 100%;
}

.recommendation__slider-person-info {
  margin-left: 16px;
}

.recommendation__slider-person-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: $person-name;
}

.recommendation__slider-person-location {
  margin-top: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  color: $person-info;
}
