.sell {
  position: relative;

  & .container {
    display: flex;
    gap: 148px;
  }
}

.sell__text {
  margin-top: 16px;
  margin-left: 40px;
  max-width: 413px;
  opacity: 0.75;
}

.sell__details-title {
  margin-top: 16px;
  margin-left: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: $subtitle-color;
  opacity: 0.75;
}

.sell__details-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
  margin-left: 40px;
  max-width: 440px;
}

.sell__details-item {
  display: flex;
  align-items: center;
}

.sell__details-icon {
  width: 32px;
  height: 32px;
  fill: $details-icon-fill;
}

.sell__details-item-text {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
  color: $details-text-color;
}

.sell__contact {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-left: 40px;
  padding-top: 32px;
  max-width: 440px;
  border-top: 2px solid $line;
}

.sell__person {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sell__person-img-container {
  width: 56px;
  height: 56px;
}

.sell__person-img {
  width: 100%;
  height: 100%;
}

.sell__person-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: $person-name;
}

.sell__person-position {
  font-weight: 500;
  line-height: 1.5;
  color: $person-info;
}

.sell__btn-icon {
  margin-right: 16px;
}

.sell__slider-list {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 528px;
  height: 459px;
}

.sell__first-slide-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 488px;
  height: 416px;
  border-radius: 4px;
}

.sell__first-slide-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2.5px);
}

.sell__first-slide-icon {
  width: 15px;
  height: 21px;
  fill: $play-icon-fill;
}

.sell__second-slide-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 296px;
  height: 168px;
  border-radius: 4px;
}

.sell__third-slide-container {
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 96px;
  height: 80px;
  border-radius: 4px;
}

.sell__fourth-slide-container {
  position: absolute;
  bottom: 0;
  right: 124px;
  width: 96px;
  height: 80px;
  border-radius: 4px;
}

.sell__slider-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.sell__gradient {
  position: absolute;
  top: -130px;
  right: -94px;
  z-index: -2;
  width: 438px;
  height: 494px;
  background-color: $sell-gradient;
  opacity: 0.3;
  filter: blur(60px);
  transform: rotate(90deg);
}
